/* http://openweathermap.org/img/w/10d.png */
/* FLEX CONTENT */

.main {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.main h1{
  /*align-content: center;*/
  text-align: center;
  /*align-items: center;*/
  color:white;
  font-size:xx-large;
  background-color: blue;
  
}

button  {
  margin-top: 5px;
}

.weather {
  padding-left: 20px;
  margin-top: 0%;
  margin-bottom: 0%;

}

#For_Day_1 {
  margin-left: 1.5%;
}

.forecastColumnn {
  background-color: rgb(47, 47, 95);
  color: white;
  margin-right: 3%;
}

#searchButton{
  background-color: rgb(172, 211, 230);
  color:white;
}

.searchHist {
  background-color: pink;
  color:black;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and  (max-width: 600px) {
  .forecastColumnn{
    transform: scale(.7)
  }
}
